<footer class="bg-gray-900">
	<div class="flex  gap-4 p-8 max-w-7xl mx-auto">
		<div class="flex-1 flex flex-col gap-2 p-8 max-w-7xl mx-auto text-white" style="overflow-wrap: anywhere">
			<p>Questions? Feel free to reach out!</p>
			<p><a href="tel:9259845976">📱 (925) 984-5976</a></p>
			<p><a href="mailto:fosterduensingwedding@gmail.com">📧 fosterduensingwedding@gmail.com</a></p>
		</div>
		<div class="flex-1 flex flex-col gap-2 p-8 max-w-7xl mx-auto text-white" style="overflow-wrap: anywhere">
			<p><a target="_blank"
					href="https://registry.theknot.com/andrew-duensing-julianna-foster-july-2022-ca/49588452">Registry</a>
			</p>
			<p><a href="#">RSVP</a></p>
		</div>
	</div>
</footer>