<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Mali:wght@400;600&display=swap" rel="stylesheet"> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Mali:wght@600&display=swap"
	rel="stylesheet">

{{ $styles := resources.Get "css/main.css" | postCSS }}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

<!-- <div class="flex justify-between items-center px-4 text-xl" style="font-family: 'Shadows Into Light', cursive;"> -->
<div class="flex justify-between items-center px-4 text-xl" style="font-family: 'Mali', cursive;">
	<a><img class="flex-0" width="100px" src="/img/temp_logo.png"></a>
	<nav class="flex-0 text-xl md:text-2xl max-w-full overflow-auto ">
		<ul class="flex space-x-2 gap-2">
			<a href="/">
				<li>Home</li>
			</a>
			<a target="_blank"
				href="https://registry.theknot.com/andrew-duensing-julianna-foster-july-2022-ca/49588452">
				<li>Registry
				</li>
			</a>
			<li><a>RSVP</a></li>
		</ul>
	</nav>
</div>