<nav class=" px-4">
	<ul
		class="my-4 flex justify-between items-center text-xl jost md:text-2xl max-w-5xl font-medium space-x-2 gap-2 mx-auto jost capitalize">
		<a class="hidden md:block hover:underline" href="/">
			<li>Home</li>
		</a>
		<a class="hidden md:block hover:underline" href="#">
			<li>Events</li>
		</a>
		<a class="hover:underline" href="#">
			<li>Wedding Party</li>
		</a>
		<a class="hover:underline" href="#">
			<li>Travel</li>
		</a>
		<a class="hover:underline" href="#">
			<li>Registry</li>
		</a>
		<a class="hover:underline" target="_blank"
			href="https://registry.theknot.com/andrew-duensing-julianna-foster-july-2022-ca/49588452">
			<li>Registry
			</li>
		</a>
		<li><a class="hover:underline" href="#">RSVP</a></li>
	</ul>
</nav>